body {
  background-color: #2b3035;
  color: #f8f9fa !important;
}

button.btn-add {
  margin-right: 0;
}

.btn-close {
  color: #f8f9fa;
}

.btn-danger:hover,
.edit-button:hover,
.form-control:focus,
button.btn-add:hover {
  box-shadow: 2px 2px 2px 0.1rem rgba(12, 13, 14, 0.15); /*#0c0d0e*/
}

.form-control,
.form-control:focus,
.form-control::placeholder {
  border-color: #f8f9fa;
  color: #f8f9fa;
  outline: none;
}

input.form-control {
  background-color: #2b3035;
  margin-right: auto;
  width: 90%;
}

input.form-control:focus {
  background-color: #2b3035;
}

.modal-body,
.modal-content,
.modal-footer,
.modal-header {
  background-color: #2b3035;
  border-color: #525960;
}

table {
  background-color: #2b3035 !important;
  --bs-table-bg: #2b3035 !important;
  --bs-table-color: #f8f9fa !important;
}
